body{
    padding: 40px;
}
.kuis{
    display: flex;    
    width: 100%;
    height: 39%;
}
.kuis .containerkuis{
    height: 30%;
}
.gambar img{
    display: flex;
    width: 50px;
    height: 50px;

}
.kuis .gambar{
    margin-left: 90%;
}
.treekontent{
    display: flex;
    float: left;
}
.konten{
    width: 30%;
    height: 50%;
    padding: 30px;
}
p{
    text-align: justify;
}
#bttn_1{
    background-color: #024d32; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#bttn_2{
    background-color: #024d32; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#bttn_3{
    background-color: #024d32; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}